.stAppHeader {
    background-color: rgba(255, 255, 255, 0.0);  /* Transparent background */
    visibility: visible;  /* Ensure the header is visible */
}

.block-container {
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* Make only sidebar labels white */
section[data-testid="stSidebar"] label {
    color: white !important;
}


/* Make all sidebar widget labels white */
section[data-testid="stSidebar"] label {
    color: white !important;
}

/* Make slider thumb values white */
section[data-testid="stSidebar"] [data-testid="stSliderThumbValue"] {
    color: white !important;
}

/* Make slider min/max tick labels white */
section[data-testid="stSidebar"] [data-testid="stSliderTickBarMin"],
section[data-testid="stSidebar"] [data-testid="stSliderTickBarMax"] {
    color: white !important;
}

/* Optional: make the slider background lighter or darker */
section[data-testid="stSidebar"] .stSlider {
    color: white !important;
}


/* General Container for Cast & Crew */
.container {
    display: flex;
    justify-content: space-around;
    /* /* background-color: rgba(0, 128, 255, 0.1);  */
    padding: 10px;
    border-radius: 10px;
    color: white; /* White font color */
    font-family: Arial, sans-serif;
}

/* Individual Section */
.section {
    margin: 0 10px;
}

.section h4 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffffff; /* White color for headings */
}

.section ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
}

.section li {
    font-size: 14px;
    line-height: 1.8;
    font-family: 'Plus Jakarta Sans';
    color: #f0f0f0; /* Light gray text for list items */
}
